html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    cursor: default;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

::selection {
    background: #333;
    color: #fff;
}

::-moz-selection {
    background: #333;
    color: #fff;
}

.nav-wrapper {
    padding: .5em;
}

.nav-wrapper .adjust-btn {
    margin-top: -0.5em !important;
    height: 100% !important;
    width: 5em;
}

.logo {
    height: 80%;
    margin-top: 0em;
}

.GPA {
    margin-top: -0.25em;
}

.subjectTab {
    margin-top: 2em;
}

.subjectTab .row {
    padding: .5em;
    margin: 0;
    border: 1px solid #eee;
}

.subjectTab .row:nth-child(even) {
    background: #eee;
}

.subjectTab h5, .subjectTab h6 {
    margin: 0;
    padding: .75em;
    background: #263238;
    color: #fff;
}

.sidenav li p {
    line-height: 1.5em;
}

.sidenav table {
    table-layout: fixed;
}

.sidenav table td {
    padding: 0;
    border: 1px solid #ddd;
}

/* .subRow {    
    position: relative;
}

.subIndexNumber {
    display: none;
    position: absolute;
    left: -1.25em;
    background: #263238ff;;
    color: #fff;
    width: 2em;
    text-align: center;
} */

.input-field {
    margin: 0;
}

select {
    height: 3rem;
    text-align: center;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #111;
}

.select-wrapper input.select-dropdown, .select-wrapper input.select-dropdown:focus {
    border-bottom: none;
}

.row .col.tab {
    background: #fff;
}

.semContent .o {
    background: #333;
}

.semContent .n {
    background: #3f51b5;
}

.semContent .m {
    background: #4caf50;
}

.semContent .d {
    background: #e57373;
}

.semContent .g {
    background: #4a148c;
}

.semContent .h {
    background: #ffab00;
}

.semContent .b {
    background: #00796b;
}

.tab {
    background: #3f51b5;
}

.tab a {
    color: #333 !important;
}

.tab a.active {
    background-color: #263238 !important;
    color: #fff !important;
}

.indicator {
    display: none;
    background-color: #263238 !important;
}

.subjectTab .tabContent {
    padding: 2em;
}

.semContent {
    margin-bottom: 1em;
}

.semContent .badge {
    margin-left: 0;
    font-size: .75em;
}

footer {
    padding: 1em;
    color: #fff;
}

main {
    flex: 1 0 auto;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999999999999999;
}

.progress {
    top: 50%;
    transform: translate(-50%);
    width: 50%;
    left: 50%;
}

.floating-stat {
    display: none;
    background: #fff;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .row .col {
        padding: 0.1em .5em;
    }
}

@media screen and (min-width: 700px) {
    .subjectTab {
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 0 10px #ddd;
    }
    .tab a {
        border-radius: 0 0 10px 10px;
    }
    body {
        background: #eee;
    }
}

@media screen and (min-width: 1200px) {}