<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GPA Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#3f51b5" />
    <meta name="theme-color" content="#3f51b5" />
    <meta
      name="description"
      content="GPA Calculator developed by Nuwan Sameera Alawatta for BSc (Hons) in Software Engineering degree programme, University of Kelaniya, Sri Lanka."
    />
    <meta
      name="keywords"
      content="uok, university of kelaniya, uokse, software enigneering sri lanka, it sri lanka, nuwan alawatta, nuwan94, nsa94"
    />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/materialize.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
  </head>

  <body ng-controller="gpaCtrl" ng-init="updateGPA()">
    <div class="loader blue-grey darken-4">
      <div class="progress blue-grey darken-4">
        <div class="indeterminate indigo"></div>
      </div>
    </div>

    <main>
      <ul id="slide-out" class="sidenav">
        <li>
          <a class="btn-flat hide-on-large-only modal-trigger" href="#modal1">
            <i class="material-icons left">delete_sweep</i> Reset
          </a>
          <a class="btn-flat hide-on-large-only">
            <i class="material-icons left">share</i> Share
          </a>
        </li>
        <li><a class="subheader">Overall</a></li>
        <li>
          <a>
            Credits : {{ myTotalCredit }}
            <small>out of {{ totalCourseCredit }}</small>
          </a>
          <div class="progress">
            <div
              class="determinate"
              ng-style="{ 'width' : (myTotalCredit/totalCourseCredit) * 100 + '%' }"
            ></div>
          </div>
        </li>
        <li>
          <a>
            Subjects : {{ mySubjects }}
            <small>out of {{ totalNumOfSubjects }}</small>
          </a>
          <div class="progress">
            <div
              class="determinate"
              ng-style="{ 'width' : (mySubjects/totalNumOfSubjects) * 100 + '%' }"
            ></div>
          </div>
        </li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a class="subheader">Grades</a></li>
        <li>
          <table class="centered striped">
            <tr class="blue white-text">
              <td>A+</td>
              <td>A</td>
              <td>A-</td>
              <td>B+</td>
              <td>B</td>
            </tr>
            <tr>
              <td>{{results.get(4.0000000001).count || '0'}}</td>
              <td>{{results.get(4.0).count || '0'}}</td>
              <td>{{results.get(3.7).count || '0'}}</td>
              <td>{{results.get(3.3).count || '0'}}</td>
              <td>{{results.get(3.0).count || '0'}}</td>
            </tr>
            <tr>
              <td>{{results.get(4.0000000001).credits || '0'}}</td>
              <td>{{results.get(4.0).credits || '0'}}</td>
              <td>{{results.get(3.7).credits || '0'}}</td>
              <td>{{results.get(3.3).credits || '0'}}</td>
              <td>{{results.get(3.0).credits || '0'}}</td>
            </tr>
          </table>
          <table class="centered striped">
            <tr class="blue white-text">
              <td>B-</td>
              <td>C+</td>
              <td>C</td>
              <td>C-</td>
              <td>D+</td>
              <td>D</td>
              <td>E</td>
            </tr>
            <tr>
              <td>{{results.get(2.7).count || '0'}}</td>
              <td>{{results.get(2.3).count || '0'}}</td>
              <td>{{results.get(2.0).count || '0'}}</td>
              <td>{{results.get(1.7).count || '0'}}</td>
              <td>{{results.get(1.3).count || '0'}}</td>
              <td>{{results.get(1.0).count || '0'}}</td>
              <td>{{results.get(0.0).count || '0'}}</td>
            </tr>
            <tr>
              <td>{{results.get(2.7).credits || '0'}}</td>
              <td>{{results.get(2.3).credits || '0'}}</td>
              <td>{{results.get(2.0).credits || '0'}}</td>
              <td>{{results.get(1.7).credits || '0'}}</td>
              <td>{{results.get(1.3).credits || '0'}}</td>
              <td>{{results.get(1.0).credits || '0'}}</td>
              <td>{{results.get(0.0).credits || '0'}}</td>
            </tr>
          </table>
        </li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a class="subheader">Eligibility</a></li>
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content center">
                  <p>
                    <i class="material-icons large" ng-class="eligibleStyle"
                      >school</i
                    >
                  </p>
                  <h5>{{ greetingsText }}</h5>
                  <p>{{ eligibilityText }}</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue-grey darken-4">
            <img class="brand-logo logo left" src="favicon.png" />
            <img class="brand-logo logo left" src="favicon.png" />
            <div
              href="#"
              class="brand-logo GPA center"
              title="{{ myGPA | number : 2 }}"
            >
              GPA : {{ myGPA | number : 4 }}
            </div>

            <a data-target="slide-out" class="right sidenav-trigger">
              <i class="material-icons">menu</i>
            </a>

            <button
              class="
                right
                adjust-btn
                btn-flat
                white-text
                hide-on-med-and-down
                modal-trigger
                tooltipped
              "
              data-position="bottom"
              data-tooltip="Reset"
              href="#modal1"
            >
              <i class="material-icons">delete_sweep</i>
            </button>

            <button
              class="
                right
                adjust-btn
                btn-flat
                white-text
                sidenav-trigger
                hide-on-med-and-down
                tooltipped
              "
              data-position="bottom"
              data-tooltip="Analysis"
              data-target="slide-out"
            >
              <i class="material-icons">explore</i>
            </button>

            <button
              class="
                right
                adjust-btn
                btn-flat
                white-text
                hide-on-med-and-down
                tooltipped
              "
              data-position="bottom"
              data-tooltip="Export"
              ng-click="downloadResult()"
            >
              <i class="material-icons">download</i>
            </button>

            <div
              class="
                right
                adjust-btn
                btn-flat
                white-text
                hide-on-med-and-down
                file-field
                input-field
                tooltipped
              "
              data-position="bottom"
              data-tooltip="Import"
            >
              <i class="material-icons">attach_file</i>
              <input
                type="file"
                onchange="angular.element(this).scope().uploadResult(this)"
              />
            </div>
          </div>
        </nav>
      </div>

      <div class="container">
        <div class="row subjectTab">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3" ng-repeat="z in subjects">
                <a class="active" href="#year{{z.year}}"
                  >Year {{ z.year }}
                  <span
                    class="badge blue white-text tooltipped"
                    data-position="bottom"
                    data-tooltip="Year {{z.year}} GPA"
                    >{{ z.yearGPA ? z.yearGPA : 0 | number:2 }}</span
                  >
                </a>
              </li>
            </ul>
          </div>
          <div
            id="year{{z.year}}"
            class="tabContent col s12"
            ng-repeat="z in subjects"
          >
            <div class="col s12 m6 semContent" ng-repeat="s in z.sems">
              <h6 class="">
                Credits : {{ s.semesterCredit }} / {{ s.totalSemesterCredit }}
                <span style="float: right"
                  >GPA: {{ s.semesterGPA | number : 2 }}</span
                >
              </h6>
              <div
                class="row subRow"
                ng-repeat="x in s.subs"
                title="Subject {{$index+1}} : {{ x.name }}"
              >
                <div class="col s4 m3">
                  <span>{{ x.id.substr(0,9) }}<b>{{ x.id.substr(-1) }}</b></span
                  ><br />
                  <span
                    ng-if="x.type"
                    ng-class="x.type"
                    class="badge left white-text"
                  >
                    {{ x.type | getType }}
                  </span>
                </div>
                <div class="col s8 m6 subName">{{ x.name }}</div>
                <div class="col s12 m3 input-field">
                  <select
                    class="browser-default"
                    ng-class="x.grade | getGradeClass"
                    ng-model="x.grade"
                    ng-change="updateGPA()"
                    ng-options="y.val as y.name for y in grades"
                  >
                    <option>-</option>
                    <option></option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col s12">
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>Summary
                  </div>
                  <div class="collapsible-body">
                    <div class="row">

                      <div class="col s12 xl8">
                        <h6>Results and Credits Distribution</h6>
                        <table class="centered">
                          <tr class="blue white-text" title="Grade">
                            <td>A+</td>
                            <td>A</td>
                            <td>A-</td>
                            <td>B+</td>
                            <td>B</td>
                            <td>B-</td>
                            <td>C+</td>
                            <td>C</td>
                            <td>C-</td>
                            <td>D+</td>
                            <td>D</td>
                            <td>E</td>
                          </tr>
                          <tr title="Number of Subjects">
                            <td>
                              {{z.yearSummary.get(4.0000000001).count || '0'}}
                            </td>
                            <td>{{z.yearSummary.get(4.0).count || '0'}}</td>
                            <td>{{z.yearSummary.get(3.7).count || '0'}}</td>
                            <td>{{z.yearSummary.get(3.3).count || '0'}}</td>
                            <td>{{z.yearSummary.get(3.0).count || '0'}}</td>
                            <td>{{z.yearSummary.get(2.7).count || '0'}}</td>
                            <td>{{z.yearSummary.get(2.3).count || '0'}}</td>
                            <td>{{z.yearSummary.get(2.0).count || '0'}}</td>
                            <td>{{z.yearSummary.get(1.7).count || '0'}}</td>
                            <td>{{z.yearSummary.get(1.3).count || '0'}}</td>
                            <td>{{z.yearSummary.get(1.0).count || '0'}}</td>
                            <td>{{z.yearSummary.get(0.0).count || '0'}}</td>
                          </tr>

                          <tr title="Number of Credits">
                            <td>
                              {{z.yearSummary.get(4.0000000001).credits || '0'}}
                            </td>
                            <td>{{z.yearSummary.get(4.0).credits || '0'}}</td>
                            <td>{{z.yearSummary.get(3.7).credits || '0'}}</td>
                            <td>{{z.yearSummary.get(3.3).credits || '0'}}</td>
                            <td>{{z.yearSummary.get(3.0).credits || '0'}}</td>
                            <td>{{z.yearSummary.get(2.7).credits || '0'}}</td>
                            <td>{{z.yearSummary.get(2.3).credits || '0'}}</td>
                            <td>{{z.yearSummary.get(2.0).credits || '0'}}</td>
                            <td>{{z.yearSummary.get(1.7).credits || '0'}}</td>
                            <td>{{z.yearSummary.get(1.3).credits || '0'}}</td>
                            <td>{{z.yearSummary.get(1.0).credits || '0'}}</td>
                            <td>{{z.yearSummary.get(0.0).credits || '0'}}</td>
                          </tr>
                        </table>
                      </div>

                      <div class="col s12 xl4">
                        <h6>Credit Table</h6>
                        <ul class="collection">
                          <li class="collection-item">
                            <div>
                              Total credits of Year {{ z.year }}
                              <span class="secondary-content"
                                >{{ z.yearCredit }}</span
                              >
                            </div>
                          </li>
                          <li class="collection-item">
                            <div>
                              A or better credits of Year {{ z.year }}
                              <span class="secondary-content"
                                >{{ z.yearSummary.get(4.0000000001).credits +
                                z.yearSummary.get(4.0).credits || 0 }}</span
                              >
                            </div>
                          </li>
                          <li class="collection-item">
                            <div>
                              B or better credits of Year {{ z.year }}
                              <span class="secondary-content"
                                >{{ z.yearSummary.get(4.0000000001).credits +
                                z.yearSummary.get(4.0).credits +
                                z.yearSummary.get(3.7).credits +
                                z.yearSummary.get(3.3).credits +
                                z.yearSummary.get(3.0).credits || 0}}</span
                              >
                            </div>
                          </li>
                          <li class="collection-item">
                            <div>
                              C or better credits of Year {{ z.year }}
                              <span class="secondary-content"
                                >{{ z.yearSummary.get(4.0000000001).credits +
                                z.yearSummary.get(4.0).credits +
                                z.yearSummary.get(3.7).credits +
                                z.yearSummary.get(3.3).credits +
                                z.yearSummary.get(3.0).credits +
                                z.yearSummary.get(2.7).credits +
                                z.yearSummary.get(2.3).credits +
                                z.yearSummary.get(2.0).credits || 0}}</span
                              >
                            </div>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="blue-grey darken-4">
      <div class="footer-copyright">
        <div class="container">
          GPA Calculator - {{ courseTitle }}
          <a
            class="grey-text text-lighten-4 right"
            target="_blank"
            href="https://github.com/nuwan94/se-gpa-calculator"
            >[ View Source ]</a
          >
          <br />
          <a href="https://nuwan.dev" target="_blank">Nuwan94</a> © 2018
        </div>
      </div>
    </footer>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Are you sure?</h4>
        <p class="center">
          <i class="material-icons large grey-text">delete</i> <br />By
          resetting all your data will be deleted and reset to empty status.
          This action can't undone.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn grey"
          >Cancel</a
        >
        <a
          href="#!"
          class="modal-close waves-effect waves-green btn indigo"
          ng-click="reset()"
          >Reset</a
        >
      </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/grades.js"></script>
    <script src="js/course.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
